/******************** Device Styles *********************/

/** Computer: 20" Desktop **/
@media only screen and (max-width: 1600px) {
	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 7%;
	}
}

/** Computer Desktop: 19" Desktop **/
@media only screen and (max-width: 1440px) {
	#name {
		margin-left: 17%;
	}
}

/** Computer: 15" Notebook **/
@media only screen and (max-width: 1440px) {
	#name {
		margin-left: 15%;
	}

	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 8%;
	}
}

/** Computer: 13" Notebook **/ 
@media only screen and (max-width: 1280px) {
	#name {
		margin-left: 14%;
	}
	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 9%;
	}
}

/** Computer: 12" Notebook **/
@media only screen and (max-width: 1024px) {
	.wrapper {
		width:80%;
	}

	section {
		padding: 10px;
	}

	.col1_left, .col1_mid, .col1_right, .col2_left, .col2_right {
		margin-bottom: 5px;
	}

	#name {
		margin-left: 15%;
	}
}

/** Tablet: Google Nexus 7 **/
@media only screen and (max-width: 966px) {
	.wrapper {
		width:85%;
	}
}

/** Tablet: Kindle Fire HD 8.9" Portrait / Kindle Fire Landscape **/

@media only screen and (max-width: 800px) {
	
	.wrapper {
		width:90%;
	}

	#name {
		margin-left:13%;
	}

	#social {
		display:block;

	}
}

/** Tablet: iPad 1-3/Mini Portrait **/
@media only screen and (max-width: 768px) {
	.col1_left, .col1_mid, .col1_right, .col2_left, .col2_right {
		float: none;
		width: 100%;
		margin: 0 0 20px;
	}

	figure {
		margin-left:10%;
	}

	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 12%;
	}
}

/** Mobile: Samsung Galaxy S3/4 **/
@media only screen and (max-width:640px) {
	.wrapper {
		width:100%;
	}

	#icon {
		display: none;
	}

	#name {
		margin-left: 15%;
		margin-bottom: 0;
	}
}

/** Tablet: Google Nexus 7 Portrait **/
@media only screen and (max-width:603px) {
	#name {
		margin-left:15%;
		margin-bottom: 0;
	}

	figure {
		margin-left:6%;
	}

	#nav nav a {
		width: 19%;
	}
}

/** Tablet: Kindle Fire HD 7" Portrait **/

@media only screen and (max-width: 533px) {
	.wrapper {
		width:100%;
	}

	figure {
		margin-left: 2%;
	}

	#name {
		margin-left: 5%;
	}

	#nav nav a {
		width: 19%;
		font-size: 16px;
	}
}

/** Mobile: LG Optimus S / iPhone 3 & 4 Landscape **/

@media only screen and (max-width: 480px) {
	
	figure img{
		width:350px;
		height:270px;
		margin-left:10%;
	}

	#nav nav a {
		font-size:0.9em;
		width: 100%;
	}

	#name img {
		width: 290px;
		height: 100px;
		margin-left: 10%;
	}

	p {
		font-size:0.8em;
	}

	.col3 {
		width:100%;
		margin:1%;
	}

	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 10%;
	}
}


/** Mobile: LG Optimus S / iPhone 3 & 4 Portrait **/

@media only screen and (max-width: 360px) {
	

	#name img{
		width: 225px;
		height: 75px;
		margin-bottom: 0;
	}

	#name {
		margin-left:10%;

	}

	figure img {
		display: none;
	}

	iframe {
		width: 290px;
		height: 375px;
	}

	a.lin, a.pin, a.email, a.gplus {
		margin: 0 0 0 7%;
	}
}

/** Mobile **/
@media only screen and (max-width: 320px) {
	#name {
		margin-left:8%;
	}
}