/********** Web Fonts **********/
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
@font-face {font-family: Sansumi; src: url('../fonts/Sansumi-Regular.ttf');}
@font-face {font-family: SansumiDemi; src: url('../fonts/Sansumi-DemiBold.ttf');}

/********** Fixes **********/

* {
	margin: 0;
	padding:0;
	border:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/* prevent the verify image on contact page from stretching */

img.verif_img {
	width: 50px;
	height:30px;
	vertical-align: bottom;
}

/********** Global **********/

iframe {
	display: block;
	width: 90%;
	height: 890px;
	padding: 5px;
	margin-bottom: 5px;
	margin-left:4%;
}

h4 {
	color: #b77c7c;
	margin-bottom: 5px;
	font-family: SansumiDemi;
	font-weight: bolder;
}

h5 {
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Sansumi;
	font-weight: bold;
	color:rgb(221, 185, 171);
}

p {
	font-size: 14px;
	font-family: SansumiDemi;
	line-height: 1em;
}

li {
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 14px;
}

ul {
	margin-bottom: 10px;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	box-shadow: 0 3px 5px #ccc;
	border: 1px solid #ccc;
}

input[type="submit"] {
	margin-top: 5px;
	width: 100px;
	background: black;
	color: white;
	border-radius: 25px;
	border: 0;
}

input[type="submit"]:hover {
	background: #555;
}

input.verif_box {
	display: inline-block;
	width: 80%;
	margin-right: 5px;
}

a:link, a:visited {
	color:black;
	text-decoration:none;
}

footer a:link, a:visited {
	color:rgb(221, 185, 171);
}

.shadow {
	box-shadow: 0 1px 5px #333;
}

.wrapper {
	width: 65%;
	margin: 0 auto;
}

#container {
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;	
	padding: 10px;
}

#containerborder {
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;	
	padding: 10px;
	border-top: 1px ridge #000;
}

#social {
	position: relative;
}
	a.lin, a.pin, a.email, a.gplus {
		display: inline-block;
		width: 50px;
		height: 50px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		margin: 0 0 0 6%;
	}

	a.lin {
		background: url(../images/linkedin.png) no-repeat;
	}

	a.pin {
		background: url(../images/pinterest.png) no-repeat;
	}

	a.email {
		background: url(../images/email.png) no-repeat;
	}

	a.gplus {
		background: url(../images/googleplus.png) no-repeat;
	}


/********** Sections **********/

section {
		padding: 20px;
		background-image: url(../images/cream_pixels.png);
	}

	#work {
		background-image: url(../images/cream_pixels.png);
		background-repeat: repeat;	
		padding: 10px;
	}

#special {
	padding: 10px;
	background-image: url(../images/cream_pixels.png);
	margin-bottom: 10px;
}

#front_image {
	margin: 0;
	padding: 0;
}

/********** Name **********/

#name img {
	margin-left: 6%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

/********** Navigation Bar **********/

#nav a {
	color:black;
	font-family: Sansumi;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	background-image: url(../images/ticks.jpg);
	background-repeat: repeat;
	border: 1px solid gray;
}

#nav nav a {
	display: inline-block;
	width: 19%;
	text-align: center;
}

#nav a:hover {
	color:rgb(221, 185, 171);
}

/********** Positioning Classes **********/

.col1_left {
	float: left;
	width: 32.6%;
	margin: 0 0 10px;
	clear:both;
}

.col1_mid {
	float: left;
	width: 32.6%;
	margin: 0 1% 10px 1%;
}

.col1_right {
	float: right;
	width: 32.6%;
	margin: 0 0 10px 0;
}

.col2_left {
	float:left;
	width: 66.4%;
	margin: 0 1% 10px 0;
}

.col2_right {
	float: right;
	width: 66.4%;
	margin: 0 0 10px 1%;
}

.col3 {
	width:80%;
	margin: 0 50px;
	clear: both;
}


/********** Footer **********/

footer {
	font-size: 10px;
	font-family: Sansumi;
	text-align: center;
	clear:both;
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;
}